@import "core";

#band {
  position: relative;
  min-height: 100vh;

  .container {
    background-size: cover;
    min-height: 100vh;
    width: 100%;
    padding-bottom: 100px;

    @include breakpoint-max(bp(medium)) {
      background-image: none !important;
      background-color: darken(#753e2a, 22%);
      padding-bottom: 20px;
    }
  }

  .mobile-image {
    display: none;

    @include breakpoint-max(bp(medium)) {
      display: block;
      padding-top: 67%;
      background-size: cover;
    }
  }

  .band-container {
    text-align: center;
    width: 80%;
    padding-top: 450px;
    margin-left: auto;
    margin-right: auto;

    @include breakpoint-max(bp(medium)) {
      padding-top: 10px;
      width: 95%;
    }

    p {
      text-align: left;
      margin-bottom: 0;
      display: inline-block;
      width: 50%;
      vertical-align: top;
      padding: 30px;

      @include breakpoint-max(bp(medium)) {
        display: block;
        padding: 0;
        width: 100%;
      }
    }
  }
}
