@import "core";

#contact {
  position: relative;
  min-height: 100vh;

  .container {
    background-size: cover;
    min-height: 100vh;
    width: 100%;
    padding-bottom: 100px;
  }

  .contact-container {
    text-align: center;
    width: 80%;
    padding-top: 120px;
    margin-left: auto;
    margin-right: auto;

    @include breakpoint-max(bp(medium)) {
      width: 95%;
    }
  }

  .contact-form {
    text-align: left;
    width: 70%;
    background: #000;
    margin: auto;
    padding: 10px;
    margin-bottom: 20px;

    @include breakpoint-max(bp(medium)) {
      width: 100%;
    }
  }

  label {
    display: inline-block;
    text-transform: uppercase;
    width: 100%;
  }

  .firstName--label,
  .lastName--label {
    width: 48%;

    @include breakpoint-max(bp(medium)) {
      width: 100%;
    }
  }

  .lastName--label {
    margin-left: 4%;
    @include breakpoint-max(bp(medium)) {
      margin-left: 0;
    }
  }

  input {
    text-transform: none;
    border-radius: 0;
  }

  .not-required {
    font-size: 14px;
    text-transform: none;
    color: #ccc;
  }

  .input-row.submit {
    text-align: center;
  }

  .booking {
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
  }

  .social-icons {
    text-align: center;
    margin-top: 30px;

    a {
      color: #fff;
      font-size: 40px;
      display: inline-block;
      margin-right: 20px;

      &:hover {
        color: darken(#fff, 30%);
      }
    }
  }
}
