@import "core";

.Music {
  position: relative;
  min-height: 100vh;

  .container {
    background-size: cover;
    min-height: 100vh;
    width: 100%;
  }

  .music-container {
    padding-top: 140px;
    text-align: center;
    padding-bottom: 30px;
  }

  .links-container {
    background: rgba(#000, 0.5);
    border-radius: 4px;
    padding: 20px;
    width: 90%;
    max-width: 500px;
    margin: auto;

    a {
      color: #fff;
      font-size: 40px;
      display: block;
      border: 1px solid white;
      border-radius: 4px;
      text-decoration: none;
      margin-bottom: 20px;
      padding: 10px;
      text-align: left;
    
      &:hover {
        text-decoration: none;
        background: rgba(#fff, 0.2);
      }
    }
  }
}
