@import "core";

#past-dates {
  position: relative;
  min-height: 100vh;

  .container {
    background-size: cover;
    min-height: 100vh;
    width: 100%;
  }

  .title {
    padding-top: 120px;
    text-align: center;
  }

  .shows-table {
    background: rgba(#000, 0.45);
    width: 90%;
    margin: auto;
  }

  .shows-inner-container {
    padding: 0 20px;
    display: table;
    width: 100%;
  }

  .show-row {
    padding: 14px 0px;
    display: table-row;

    &:last-child {
      & .show-date,
      & .show-day,
      & .show-venue,
      & .show-location,
      & .show-actions {
        border-bottom: none;
      }
    }
  }

  .show-date,
  .show-day,
  .show-venue,
  .show-location,
  .show-actions {
    display: table-cell;
    font-weight: bold;
    padding: 14px 0;
    border-bottom: 1px solid rgba(#fff, 0.35);
  }

  .show-date {
    width: 8%;
  }

  .show-day {
    width: 15%;
  }

  .show-actions {
    text-align: right;

    .tickets {
      margin-right: 10px;
    }
  }
}

@include breakpoint-max(bp(medium)) {
  #past-dates {
    .shows-inner-container {
      position: relative;
      display: block;
    }

    .show-row {
      display: block;
      border-bottom: 1px solid rgba(#fff, 0.35);

      &:last-child {
        border-bottom: none;
      }
    }

    .show-date,
    .show-day,
    .show-venue,
    .show-location,
    .show-actions {
      display: block;
      padding: 0;
      border: none;
    }

    .show-venue {
      padding-bottom: 5px;
    }

    .show-date,
    .show-day {
      display: inline-block;
      padding-bottom: 14px;
    }

    .show-date {
      width: auto;
      margin-right: 10px;
    }

    .show-day {
      width: auto;
    }

    .show-location {
      margin-bottom: 10px;
    }

    .show-actions {
      display: flex;

      a {
        width: 100%;
      }
    }
  }
}
